{{- $nav := . -}}
{{- if or $nav.showCategories $nav.showTags $nav.custom -}}
<div class="nav wrap">
    <nav class="nav">
        <a class="nav item" href="{{- `/` | relURL -}}"><span class="iconfont icon-user"></span>&nbsp;Posts</a>
        {{- if $nav.showCategories -}}
        <a class="nav item " href="{{- `/categories/` | relLangURL -}}">Categories</a>
        {{- end -}}
        {{- if $nav.showTags -}}
        <a class="nav item" href="{{- `/tags/` | relLangURL -}}"><i data-icon="&#x21dd;"></i> Tags</a>
        {{- end -}}

        <a class="nav item" href="{{- `/about/` | relURL -}}"><span class="iconfont icon-user"></span>&nbsp;About</a>
        <a class="nav item" href="https://github.com/apex1000" target="_blank"><span
                class="iconfont icon-github"></span>&nbsp;Github</a>
    </nav>
</div>
{{- end -}}